* {
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

body div {
    height: 100vh;
    float: left;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: white;
}

h3 {
    margin-top: 10px;
}

input {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}

.leftSide {
    width: 20%;
    background: rgb(44, 43, 43);
}

.centerSide {
    width: 60%;
    background: rgb(0, 0, 0);
}

.rightSide {
    width: 20%;
    background: rgb(44, 43, 43);
}

.validador {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.accessResult {
    color: white;
}